{% include _head %}

    <div class="container homepage">
      {{ content }}
      <h2 class="category">Posts <small><a href="/feed.xml">[rss]</a></small></h2>
      <ul class="posts">
        {% for post in collections.posts %}
        <li class="post">
          <span class="post-title">
            {% if post.data.externalLink %}
            <a href="{{ post.data.externalLink }}" target="__blank">{{ post.data.title }}</a>
            {% else %}
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            {% endif %}
          </span>
          <span class="post-date">
            {{ post.date | | date: '%B %e, %Y' }}
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
{% include _foot %}